.h4 {
margin-left: 5px;
margin-right: 5px;
}

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.1;
    color: black;
}
.navbar-brand {
    background-color: #4aaaa5;
    color:black;
}

p {
    font-size: 16px;
}

.margin {
    margin-bottom: 45px;
}

.bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}

.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}

.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
}

.bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 3px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkgrey;
    color: black;
    text-align: center;
    padding: 6px;   
 }
* {
    box-sizing: border-box;
}
.myimage {
    padding-top: 5px;
}
.jumbotron {
    background-image: url(https://images.pexels.com/photos/1020320/pexels-photo-1020320.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}